


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.navbar-dark {
    background-color: black !important;
    height: 100px;
}

.sidebar {
    height: calc(100vh - 56px); 
    padding-top: 20px;
}

.chat-area {
    height: calc(100vh - 56px);
    overflow-y: auto;
    padding-top: 20px;
}

.chat-messages {
    height: calc(100vh - 240px);
    overflow-y: auto;
}

.chat-input .form-control {
    border-radius: 0;
}

.user-profile {
    height: calc(100vh - 56px);
    padding-top: 20px;
}

.user-profile .btn {
    border-radius: 20px;
}

.principal {
    background-color: black;
    width: 100%; 
    max-width: none; 
}

.mt-4 {
    padding: 20px;
}

.btn-block {
    background-color: white;
    border: none;
    color: black;
    margin-bottom: 30px;
}

.btn-block:hover {
    background-color: rgba(255, 255, 255, 0.842);
    border: none;
    color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.search-container {
    width: 305px;
}

.image-container img {
    width: 20%;
    margin-left: 10px;
    height: auto; 
}

.cadeado {
    width: 50px;
}

.pessoas-img {
    width: 50px;
}

.btn-block:hover {
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
}

.btn-block img.pessoas-img {
    position: absolute;
    left: 10px; 
    top: 10px;
}

.btn-block img.cadeado {
    position: absolute;
    right: 10px; 
    top: 10px; 
}

.perso-imagens {
    width: 50px;
}

a {
    text-decoration: none !important;
}

.chat-messages {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    height: 400px;
    overflow-y: scroll;
}

.message {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    color: #000;
    max-width: 70%;
    margin-bottom: 50px;
}

.message strong {
    position: absolute;
    top: -20px;
    left: 10px;
    color: #fff;
}

.message-time {
    font-size: 12px;
    color: black;
    text-align: right;
    margin-top: 5px;
}

.btn-primary-enviar {
    background-color: #000;
    border-color: white;
    color: #fff;
}

.btn-primary-enviar:hover {
    background-color: #333 !important;
    border-color: #333 !important;
}

.NomeUser {
    color: white !important;
    text-align: left;
    font-size: 20px;
}

@media (max-width: 768px) {
        .input-group-prepend, .search-container, .image-container {
        display: none; 
    }
    h1{
        font-size: 18px;
        text-align: center;
    }
    .text-white{
        margin: auto;

    }

    }
    .btn-custom {
        display: flex !important;
        align-items: center !important;
        justify-content: flex-start !important; 
        padding: 10px !important; 
    }

    .btn-custom img {
        margin-right: 10px !important; 
        width: 24px !important; 
        height: 24px !important; 
    }

    .btn-custom span {
        flex-grow: 1 !important;
        text-align: left !important; 
    }
    .header-usuario {
        display: none;
    }
    @media (max-width: 768px) {
        .header-usuario {
            display: block;
            margin-left: auto;
        }

        .principal .image-container img:first-child {
            display: none;
        }
        
    }

